alias rm="rm -I"
alias sti="ssh stirling.blue.psu.edu -q -D 9995 -L 9990:localhost:9990 -L 3389:mgt-p01.ais.psu.edu:3389 -L 3390:dc-rdp2.ais.psu.edu:3389 -X"
alias kin="ssh kinnaird.blue.psu.edu -q -D 9997 -L 9991:localhost:9991 -X"
alias ls='/bin/ls $LS_OPTIONS --color=auto --group-directories-first --time-style +%Y-%m-%d\ %H:%M:%S'
alias rm='rm -I'
alias mv='mv -i'
alias vi='vim'
alias fixit='echo -ne "\033k`hostname -s`\033\\"'
alias cdd='cd ~/Downloads'
alias cdg='cd ~/git'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias l='ls -alF'
alias la='ls -la'
alias ll='ls -l'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias grep='grep --color=auto'
alias o='less'
alias tf='terraform'
alias xkpasswd='hsxkpasswd'
alias g='git'
alias gc='git commit'
alias gp='git pull'
alias ga='git add'
alias gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gs='git status --short'
alias h='history'
alias caps='/usr/bin/setxkbmap -option ctrl:nocaps'
alias tg='terragrunt'
alias tf='terraform'
